#layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

#profile-pic {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

#headings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bolder;
    margin-left: 50px;
}

p {
    margin-left: 56px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.picture-size {
    width: 300px;
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.icon-size {
    width: 43px;
    height: 42px;
    background-size: 70%;
    background-repeat: no-repeat;
    margin: 5px 0px 0px 0px;
}

.picture {
    background-image: url('../media/profile-pic.jpg');
}

.uoft {
    background-image: url('../media/uoft-logo.png');
}

.linkedin {
    background-image: url('../media/linkedin-logo.png');
}

.github {
    background-image: url('../media/github-logo.png');
}

.email {
    background-image: url('../media/email-logo.png');
}

#about-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
}

#about-me h3 {
    margin-top: 0px;
}

#about-me p {
    margin-left: 50px;
    margin-top: 0px;
}

#links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 300px;
    margin-left: 10px;
}

body {
    background-color: darkslategrey;
    margin-left: 20px;
}

button {
    background-color: transparent;
    border: transparent;
}

button:hover {
    cursor: pointer;
    background: rgba(211, 211, 211, 0.4);
    border-radius: 9%;
}

#headings button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bolder;
    margin-left: 50px;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
}

#links button {
    max-width: 43px;
    max-height: 42px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}